/*= require_tree .*/
body
  margin: 0
  font-family: "open sans"
  *
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -o-box-sizing: border-box
    -moz-box-sizing: border-box
  h1
    position: absolute
    top: 280px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 18px
    text-align: center
    width: 960px
  #stage
    width: 100%
    padding-top: 4rem
    #landing
      height: 100%
      width: 100%
      .matisticlogin 
        p
          text-align: center
          font-family: "pacifico"
          color: indianred
          font-size: 6em
          margin: auto
    #login 
      text-decoration: none
      background: indianred
      color: white
      padding: 10
    .main 
      width: 100%
      background: #8C826B
      padding-top: 1.8rem
      position: absolute
      overflow-y: scroll
      #block 
        width: 900px
        margin: 0 auto
        box-shadow: 0px 0px 10px 3px #111111
        background: #3D3C33
        text-align: center
        z-index: 600
        .filler
          height: 5rem
          background: indianred
          font-family: "Annie Use Your Telescope"
          font-size: 1.8rem
          line-height: 5rem
          p   
            text-align: center