/*= require_tree .*/
html
  height: 100%
body
  height: 100%
  margin: 0
  font-family: "open sans"
  *
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -o-box-sizing: border-box
    -moz-box-sizing: border-box
  svg 
    float: right
    .subunit.SCT
      fill: #ddc
    .subunit.WLS  
      fill: #cdd
    .subunit.NIR
      fill: #cdc
    .subunit.ENG
      fill: #dcd
    .subunit.IRL
      display: none
    .subunit-boundary
      fill: none
      stroke: #777
      stroke-dasharray: 2,2
      stroke-linejoin: round
    .subunit-boundary.IRL
      stroke: #aaa
    .subunit-label
      fill: #777
      fill-opacity: .5
      font-size: 20px
      font-weight: 300
      text-anchor: middle
  #stage
    height: 100%
    width: 100%
    padding-top: 3rem
    #header
      width: 100%
      margin-top: -3rem
      height: 3rem
      position: fixed
      border-bottom: 1px solid #C50909
      box-shadow: 0 1px 15px rgb(7, 0, 0)
      ul 
        margin: 0
        padding-left: 1rem
        width: 100%
        height: 100%
        a 
          text-decoration: none
          color: red
          font-family: "open sans"
          font-weight: bold
        li
          display: inline-block
          color: white
          line-height: 3rem
        .left-side
          width: 25%
          float: left
          span 
            display: block
          a 
            text-decoration: none
            font-family: "Pacifico"
            font-weight: bold
            font-size: 1.5rem 
            color: rgb(187, 66, 66)
        .center:hover
          .arrow_box
            display: block
        .center
          width: 50%
          text-align: center
          float: left
          position: relative
          #page
            display: block
            color: #616161
            cursor: pointer
            font-size: 1.1rem
          #page:hover
            width: 156px
            margin: 0 auto
            height: 3rem
          .arrow_box
            position: absolute
            background: #202020
            opacity: .9
            padding: 7px 7px
            border-radius: 6px
            left: auto
            border: solid thin #202020
            top: 3rem
            display: none
            height: auto
            li
              display: block

            li:hover
              color: #E5E5E5
              cursor: pointer
              text-decoration: none
              background-color: #303030
              border-radius: 3px 
              box-shadow: inset 0px 1px 1px #4c4c4c
          .arrow_box:after, .arrow_box:before
            bottom: 100%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none
          .arrow_box:after 
            border-color: rgba(136, 183, 213, 0)
            border-bottom-color: #202020
            border-width: 10px
            left: 50%
            margin-left: -10px
          .arrow_box:before
            border-color: transparent transparent #202020 transparent
            border-style: solid
            border-width: 10px 
            border-bottom-color: #202020
            border-width: 10px
            left: 50%
            margin-left: -10px
        .right-side
          width: 25%
          text-align: right
          padding-right: 1rem
          span 
            display: block
            height: 100%
            line-height: initial
            padding: 5px 0 
          img 
            height: 2.5rem
            border-radius: 1.3rem
    .main 
      height: 100%
      width: 100%
      background: rgb(241, 241, 241)
      padding-top: 1.8rem
      #block 
        width: 600px
        height: 95%
        overflow-y: scroll
        margin: 0 auto
        box-shadow: 0px 0px 10px 3px #A7A7A7
        background: #FCFCFC
        text-align: center
        #title
          background-position: 14px 24px
          background-image: url(/assets/border.png)
          background-repeat: no-repeat
          background-size: 300px auto
          height: 300px
          img 
            position: right
          #pagename
            font-family: "Unkempt"
            font-size: 3em
            width: 50%
            float: left
            padding-top: 156px
            padding-left: 35px
            text-align: right
          #social 
            background-image: url(/assets/speech-bubble.png)
            background-repeat: no-repeat
            height: 100%
            width: 50%
            background-size: auto 80%
            background-position: center center
            float: right
            padding-top: 6rem
            font-size: 2rem
            font-family: "montserrat alternates" 
        #fans
          height: 250px
          padding-left: 60px
          padding-top: 70px
          #male 
            background-image: url(/assets/male.png)
            background-repeat: no-repeat
            height: 170px
            width: 116px
            float: left
            padding-left: 15px
            background-position: left
          #female
            background-image: url(/assets/female.png)
            background-repeat: no-repeat
            background-position: center
            height: 170px
            width: 111px
            float: left
          #fantext
            font-family: "unkempt"
            font-size: 2em
            height: 100px
        #fanlocation
          height: 350px
          background-image: url(/assets/World_map_green.png)
          background-repeat: no-repeat
          background-size: 480px auto
          background-position: bottom center
          text-align: left
          padding-left: 130px
          font-family: "Unkempt"
          font-size: 1.5em
          padding-top: 20px
        #topfans
          height: 300px
          font-family: "Unkempt"
          font-size: 2em
          padding-top: 70px
          padding-left: 50px
          #fan1, #fan2, #fan3, #fan4, #fan5
            background-image: url(/assets/topfans.png)
            background-size: 90px auto
            float: left
            height: 99px
            width: 90px
            
          